header{
    min-height: 100px;
    padding: 20px;
    background-color: #121212;
    color: #fff;
}

.section-1 , .section-3{
    min-height: 100px;
    display: flex;
    align-items: center;
}
.h1 , .h2, .h5{
    text-align: center;
}
.img{
    width: 100%;
    height: auto;
}
footer{
    min-height: 70px;
    padding: 20px;
    background-color: #121212;
    color: #fff;
}
